*{
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 5em;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.title, .menu{
    display: flex;
    padding: 0 14em;
    align-items: center;
    color: #777777;
}

.logo{
    width: 100px;
}

.love{
    width: 70px;
}

.hamburger{
    width: 30px;
}

h1, .menu div  {
    margin-right: 10px;    
}

.title div {
    color: #AAAAAA
}

main{
    width: 70rem;
    margin: 0 auto;
}

.img-principal {
    display: flex;
    margin: 0 auto;
    padding-top: 2em;
    width: 100%;
}

.img-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
}

.img-box{
    width:500px;
    background-color: #EEEEEE;
    color: #555555;
}

.img-small {
    width: 100%;
}   

.price-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.info {
    padding: 15px;
}

h3 {
    color: #888888;
    font-weight: 300;
    font-size: 25px;

}

.tag {
    color:white;
    border-radius: 10.5px;
    background-color: #51D275;
    text-align: center;
    height: 21px;
    width: 56px;
    font-size: 20px;
}

.sale {
    background-color: #DC9730;
}

h2 {
    padding: 2em 0 .5em;
    font-size: 32px;
    text-align: center;
    color: #888888;
    font-weight: 400;
}

.industrial, .modern, .classic {
    background-image: 
    linear-gradient(
      rgba(196, 196, 196, 0.5), 
      rgba(196, 196, 196, 0.5)
    ),
    url('./img/Rectangle11.svg');
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 150px;
    line-height: 150px;
}

.category-txt {
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 1px 1px 5px #000;
}

.modern {
    background-image: 
    linear-gradient(
      rgba(196, 196, 196, 0.5), 
      rgba(196, 196, 196, 0.5)
    ),
    url('./img/Rectangle12.svg');
    }

.classic {
    background-image: 
    linear-gradient(
      rgba(196, 196, 196, 0.5), 
      rgba(196, 196, 196, 0.5)
    ),
    url('./img/Rectangle13.svg');}

    .categories {
        padding-top: 1.5em
    }

    footer {
        height: 245px;
        background-color: #333333;
        margin-top: 4em;

    }